<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styleIndex.css">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<body>
    <nav class="navIndex">
        <ul>
            <li><a href="/views/home.html">Home</a></li>
            <li><a href="/views/localNews.html">Local News</a></li>
            <li><a href="/views/announcements.html">Announcements</a></li>
            <li><a href="/views/marketplace.html">Marketplace</a></li>
            <li><a href="/views/communityCalendar.html">Community Calendar</a></li>
            <li><a href="/views/suspiciousActivity.html">Suspicious Activity</a></li>
            <li><a href="/views/warningsPage.html">Warnings</a></li>
            <li><a href="/views/localMap.html">Local Map</a></li>
            <li><a href="/views/profile.html">User Profile</a></li>
        </ul>
    </nav>
    <main>
        <div>
            <h1>Thinking what to do?</h1>
            <div class="buttons">
                <a href="/views/localNews.html">Check Out Current News</a>
                <a id="cardLink" href="#">
                    <div class="cardItem">
                        <img id="cardImage" src="" alt="business">
                        <div class="cardItemText">
                            <h3 id="cardTitle">Top 10 New Businesses Opened Last Month in Coolock!</h3>
                            <p id="cardDesc">Check out new interesting businesses and their owners who...</p>
                        </div>
                    </div>
                </a>
                <a href="/views/warningsPage.html">Report Suspicious Activity</a>
                <a href="/views/announcements.html">Check Announcements</a>
                <a href="/views/communityCalendar.html">Check Upcoming Events</a>
            </div>
        </div>
        <div class="calendar">
            <a href="/views/communityCalendar.html"><img src="/imgs/istockphoto-181866332-612x612.jpg" alt="calendar"></a>
            
        </div>

        <script src="/scripts/home.js"></script>
    </main>
</body>
</html>
